In [2]:
# достает актуальный список тикеров акций и капитализации компаний из индекса NASDAQ Composite

import requests  
from bs4 import BeautifulSoup
from tqdm import tqdm

def get_tickers(p):
    
    url = f'https://disfold.com/stock-index/nasdaq-composite/companies/?page={p}'
    
    response = requests.get(url)
    
    tree = BeautifulSoup(response.content, 'html')
    
    comp = tree.find_all('td', {'class' : 'center-align'})
    
    
    i = 0 # данные находятся в таблице 1 х 4, тикеры стоят на второй позиции
    x = len(comp)
    tickers = []
    
    for company in comp:
        tickers.append(comp[i].text)
        i = i + 1
        if i >x:
            break
    
    full_list = [ ]                 
    
    for ticker in tickers:
        full_list.append(ticker)
    
    return full_list

In [3]:
full_list = [ ]

for p in tqdm(range(1,2)): # всего 60 страниц
    full_list.extend(get_tickers(p))
    
print(len(full_list))

100%|█████████████████████████████████████████████| 1/1 [00:07<00:00,  7.66s/it]

150

In [4]:
# Чистим от новых строк
clean_list = []
for x in full_list:
    clean_list.append(x.replace("\n", ""))

In [5]:
# Переводим с Pandas

import numpy as np
import pandas as pd

input = [x.strip(' ') for x in clean_list]

num = np.array(input)

reshaped = num.reshape(int(len(input)/3),3)

output = pd.DataFrame(reshaped, index=None, columns = ['#', "Ticker","MCap"])

output[0:150]

     # Ticker       MCap
0    1   AAPL   $2.067 T
1    2   MSFT   $1.788 T
2    3  GOOGL   $1.158 T
3    4   GOOG   $1.158 T
4    5   AMZN  $875.51 B
5    6   TSLA  $388.97 B
6    7   NVDA  $364.18 B
7    8   META  $319.89 B
8    9    PEP  $248.90 B
9   10   AVGO  $231.29 B
10  11   ASML  $229.28 B
11  12    AZN  $217.81 B
12  13   COST  $201.13 B
13  14   CSCO  $196.94 B
14  15   TMUS  $174.18 B
15  16     VZ  $165.47 B
16  17   ADBE  $156.63 B
17  18  CMCSA  $153.78 B
18  19    TXN  $149.99 B
19  20   AMGN  $139.61 B
20  21   NFLX  $135.31 B
21  22    SNY  $124.09 B
22  23   QCOM  $123.24 B
23  24    PDD  $116.34 B
24  25   SBUX  $113.86 B
25  26   INTC  $110.31 B
26  27   INTU  $109.89 B
27  28   GILD  $107.68 B
28  29     JD  $106.46 B
29  30    AMD  $103.22 B
30  31    ADP   $98.59 B
31  32   ISRG   $93.87 B
32  33   MDLZ   $91.76 B
33  34    ADI   $82.74 B
34  35   CVLB   $82.27 B
35  36   AMAT   $81.65 B
36  37   PYPL   $81.13 B
37  38   REGN   $79.53 B
38  39   BKNG   $78.83 B
39  40   VRTX   $74.13 B
40  41   MRNA   $68.42 B
41  42    CSX   $64.92 B
42  43   FISV   $64.27 B
43  44   EQIX   $61.31 B
44  45    CME   $60.78 B
45  46   LRCX   $58.27 B
46  47     MU   $54.59 B
47  48   ABNB   $54.14 B
48  49   KLAC   $53.36 B
49  50   MNST   $52.95 B

In [73]:
output.to_csv('IXIC.csv', index=False)